/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700.css";

$brown: #7F3B00;
$red: #D2350C;
$gray: #7C7056;
$yellow: #EDB258;
$cream: #E1CA94;
$small-only: "only screen and (max-width:328px)";
$medium-down: "only screen and (max-width:768px)";
$medium-only: "only screen and (min-width:329px) and (max-width:768px)";
$medium-up: "only screen and (min-width:329px)";
$large-only: "only screen and (min-width:769px) and (max-width:1024px)";
$large-up: "only screen and (min-width:769px)";
$x-large-up: "only screen and (min-width:1025px)";

@mixin master_font ($mfont_size:16px,$mfont_color:$brown,$mfont_style:400,$mfont_family:'Lato'){
  font-style: $mfont_style;
  font-family: $mfont_family, sans-serif;
  font-size: $mfont_size;
  color: $mfont_color;
  letter-spacing: 0.2px;
}
body {
  @include master_font();
  background-color: $cream;
}
//--- GENERAL
a {
  @include master_font($mfont_color:$brown);
  text-decoration: none;
  &:hover {
    color: $red;
  }
}

p {
  @include master_font(0.9rem, $gray);
}
h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  // padding: 3rem 0;
}

h3 {
  font-size: 0.5rem;
}

//--- LAYOUT
ul{
  @media #{$small-only}{
    // max-width: 328px;
  }
  @media #{$medium-only}{
    // max-width: 768px;
    -moz-column-count: 2;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    -webkit-column-fill: balance;
    column-count: 2;
    column-gap: 0;
    column-fill: balance;
  } 
  @media #{$large-only}{
    // max-width: 1024px;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -webkit-column-fill: balance;
    column-count: 3;
    column-gap: 0;
    column-fill: balance;
  }
  @media #{$x-large-up}{
    // max-width: 1024px;
    -moz-column-count: 5;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    -webkit-column-count: 5;
    -webkit-column-gap: 0;
    -webkit-column-fill: balance;
    column-count: 5;
    column-gap: 0;
    column-fill: balance;
  }
  li {
    // width: 200px;
    display: inline-block;
    min-height: 100px;
    padding: 1rem 2rem 2rem;
    background-color: $yellow;
    // float: left;
    margin: 0.5rem;
    border-radius: 1rem;
    div.middle {
      overflow: hidden;
      width: 200px;
      // height: 200px;
      // box-sizing: border-box;
    }
    div.lower {
      padding: 0.5rem 0;
    }
    &:hover {
      background-color: #DDD;
    }
    @media #{$small-only}{
      // max-width: 328px;
    }
    @media #{$medium-only}{
      // max-width: 768px;
    } 
    @media #{$large-only}{
      // max-width: 1024px;
    }
  }
}

div.everything {
  // width: 100%;
  @media #{$small-only}{
    max-width: 328px;
    background-color: #fff;
  }
  @media #{$medium-only}{
    max-width: 768px;
    background-color: #637;
  } 
  @media #{$large-only}{
    max-width: 1024px;
    background-color: #125;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 2rem;
  z-index: 1;
  padding: 1rem;
  // border-bottom-left-radius: 1rem;
  // border-bottom-right-radius: 1rem;
  background-color: $gray;
  // float: left;
  @media #{$small-only}{
    max-width: 328px;
  }
  @media #{$medium-only}{
    max-width: 768px;
  } 
  @media #{$large-only}{
    max-width: 1024px;
  }
}

div.headspace {
  @media #{$small-only}{
    max-width: 328px;
  }
  @media #{$medium-only}{
    max-width: 768px;
  } 
  @media #{$large-only}{
    max-width: 1024px;
  }
  height: 80px;
}

.content {
  vertical-align: middle;
  text-align: center;
  // width: 100%;
  margin: 0 5% 0;
  // padding: 0 5%;
  // border-radius: 1rem;
  // background-color: $yellow;
  @media #{$small-only}{
    max-width: 328px;
  }
  @media #{$medium-only}{
    max-width: 768px;
  } 
  @media #{$large-only}{
    max-width: 1024px;
  }
}

#check_stat {
  float: left;
  opacity: 0.5;
}

#delete_form {
  float: right;
}

#new_item_form {
  display: inline-block;
  button#new_item_button {
    @include master_font(20px, $yellow);
    background-color: $gray;
    margin: 0.5rem 0;
    padding: 0.3rem 1.6rem;
    border: thick solid $gray;
    border-radius: 20rem;
    &:hover {
      border: thick solid #999;
      padding: 0.3rem 5rem;
    }
  }
}

#delete_button {
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: $red;
  opacity: 0.5;
  border: thin solid $gray;
  border-radius: 1rem;
  &:hover {
    opacity: 0.9;
  }
}

footer {
  // width: 100%;
  // text-align: center;
  // // border-radius: 1rem;
  // margin: auto;
  // height: 4rem;
  // // padding: 1rem;
  // position: fixed;
  // bottom: 0;
  // background-color: #333;
  // @media #{$small-only}{
  //   max-width: 328px;
  // }
  // @media #{$medium-only}{
  //   max-width: 768px;
  // } 
  // @media #{$large-only}{
  //   max-width: 1024px;
  // }
}

.shadow {
  box-shadow: 1px 1px 0.7rem 1px #333;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
}
