doctype
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/styles.css")
  title TODO LIST
body
  ul
    each todo in todos
      li
        a.title(href="todos/#{todo.id}/edit")!= todo.title
          p.description!= todo.description
  form(action="/delete" method="DELETE")
    button DELETE
  form(action="/todo/:id/complete" method="PUT")
    input(type="checkbox")
  form(action="/new_todo" method="GET")
    button NEW ITEM
