doctype
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="/css/styles.css")
  title A NEW TODOODOO
body
  form(action="/todos" method="POST")
    fieldset
      div
        label(for="title") TODO ITEM
        br
        if title != undefined
          input#title(type="text", name="title", placeholder="SOME TODO ITEM", value="#{title}")
        else
          input#title(type="text", name="title", placeholder="NEW ITEM")
      div
        label(for="description") DESCRIPTION
        br
        if description != undefined
          textarea#description(rows="9", cols="40", name="description", placeholder="SOME DESCRIPTION")!= description
        else
          textarea#description(rows="9", cols="40", name="description", placeholder="NEW ITEM DESCRIPTION")
      div
        button SAVE