@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700.css);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-style: 400;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #7F3B00;
  letter-spacing: 0.2px;
  background-color: #E1CA94; }

a {
  font-style: 400;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #7F3B00;
  letter-spacing: 0.2px;
  text-decoration: none; }
  a:hover {
    color: #D2350C; }

p {
  font-style: 400;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  color: #7C7056;
  letter-spacing: 0.2px; }

h1 {
  font-size: 1.6rem; }

h2 {
  font-size: 1.5rem;
  text-transform: uppercase; }

h3 {
  font-size: 0.5rem; }

@media only screen and (min-width:329px) and (max-width:768px) {
  ul {
    -moz-column-count: 2;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    -webkit-column-fill: balance;
    column-count: 2;
    column-gap: 0;
    column-fill: balance; } }
@media only screen and (min-width:769px) and (max-width:1024px) {
  ul {
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -webkit-column-fill: balance;
    column-count: 3;
    column-gap: 0;
    column-fill: balance; } }
@media only screen and (min-width:1025px) {
  ul {
    -moz-column-count: 5;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    -webkit-column-count: 5;
    -webkit-column-gap: 0;
    -webkit-column-fill: balance;
    column-count: 5;
    column-gap: 0;
    column-fill: balance; } }
ul li {
  display: inline-block;
  min-height: 100px;
  padding: 1rem 2rem 2rem;
  background-color: #EDB258;
  margin: 0.5rem;
  border-radius: 1rem; }
  ul li div.middle {
    overflow: hidden;
    width: 200px; }
  ul li div.lower {
    padding: 0.5rem 0; }
  ul li:hover {
    background-color: #DDD; }

@media only screen and (max-width:328px) {
  div.everything {
    max-width: 328px;
    background-color: #fff; } }
@media only screen and (min-width:329px) and (max-width:768px) {
  div.everything {
    max-width: 768px;
    background-color: #637; } }
@media only screen and (min-width:769px) and (max-width:1024px) {
  div.everything {
    max-width: 1024px;
    background-color: #125; } }

header {
  position: fixed;
  width: 100%;
  height: 2rem;
  z-index: 1;
  padding: 1rem;
  background-color: #7C7056; }
  @media only screen and (max-width:328px) {
    header {
      max-width: 328px; } }
  @media only screen and (min-width:329px) and (max-width:768px) {
    header {
      max-width: 768px; } }
  @media only screen and (min-width:769px) and (max-width:1024px) {
    header {
      max-width: 1024px; } }

div.headspace {
  height: 80px; }
  @media only screen and (max-width:328px) {
    div.headspace {
      max-width: 328px; } }
  @media only screen and (min-width:329px) and (max-width:768px) {
    div.headspace {
      max-width: 768px; } }
  @media only screen and (min-width:769px) and (max-width:1024px) {
    div.headspace {
      max-width: 1024px; } }

.content {
  vertical-align: middle;
  text-align: center;
  margin: 0 5% 0; }
  @media only screen and (max-width:328px) {
    .content {
      max-width: 328px; } }
  @media only screen and (min-width:329px) and (max-width:768px) {
    .content {
      max-width: 768px; } }
  @media only screen and (min-width:769px) and (max-width:1024px) {
    .content {
      max-width: 1024px; } }

#check_stat {
  float: left;
  opacity: 0.5; }

#delete_form {
  float: right; }

#new_item_form {
  display: inline-block; }
  #new_item_form button#new_item_button {
    font-style: 400;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #EDB258;
    letter-spacing: 0.2px;
    background-color: #7C7056;
    margin: 0.5rem 0;
    padding: 0.3rem 1.6rem;
    border: thick solid #7C7056;
    border-radius: 20rem; }
    #new_item_form button#new_item_button:hover {
      border: thick solid #999;
      padding: 0.3rem 5rem; }

#delete_button {
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #D2350C;
  opacity: 0.5;
  border: thin solid #7C7056;
  border-radius: 1rem; }
  #delete_button:hover {
    opacity: 0.9; }

.shadow {
  box-shadow: 1px 1px 0.7rem 1px #333; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0; }
